<% content_for :meta_tags do %>
  <%= render "meta_tags/meta_fabric" %>
<% end %>

<div class="search-container">
	<div class="search-area">
		<div class="row">
			<%= form_tag fabrics_path, method: :get do %>
			  <div class="small-12 medium-9 medium-centered columns text-center">
			    <%= text_field_tag :query, params[:query], autofocus: true, class: "input-search", placeholder: "search fabrics" %>
			    <%= submit_tag "Go", name: nil, style: "color:#DF4D39;font-weight:normal;margin-right:9px" %>
			  </div>
			<% end %>
			</div>
		</div>
	</div>

	<div class="search-results">
		<div class="row">
			<% @fabrics.each do |fabric| %>
				<div class="small-6 medium-3 columns">
					<div class="card card-search">
						<div class="row">
							<div class="small-12 columns">
								<%= link_to fabric_path(fabric) do %>
					  			<div class="card-image" style="background-image:url('<%= fabric.fabric_image.mobile_320 %>')"></div>
					  		<% end %>
					  	</div>
					  	<div class="small-12 columns">
					  		<div class="card-text">
							  	<h5>
							  		<%= link_to fabric.fabric_collection.name, fabric_collection_path(fabric.fabric_collection) %>
							  	</h5>
							  	<h4>
								    <%= link_to fabric.name, fabric_path(fabric) %>
								  </h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns text-center">
			<%= will_paginate @fabrics %>
		</div>
	</div>

</div>